In [1]:
import numpy as np
import pandas as pd
import ctypes
import math
import pprint

In [2]:
import cosimfunc
from cosimfunc import cosim

In [3]:
import importlib 
importlib.reload(cosimfunc)

In [57]:
# enter two question sentences and two answers
docQ1 = "where does fish live?"
docQ2 = "where does dog live"

answ1 = "fish survive in water."
answ2 = "dog survive on land."

In [58]:
# parse the sentences in words
sent1 = docQ1.split(" ")
sent2 = docQ2.split(" ")

sent3 = answ1.split(" ")
sent4 = answ2.split(" ")

In [59]:
print(sent1)
print(sent2)
print(sent3)
print(sent4)

['where', 'does', 'fish', 'live?']
['where', 'does', 'dog', 'live']
['fish', 'survive', 'in', 'water.']
['dog', 'survive', 'on', 'land.']

In [60]:
# All words appearing in all documents
# union() removes duplications
corpus = set(sent1).union(set(sent2)).union(set(sent3)).union(set(sent4))
print(corpus)

{'on', 'fish', 'does', 'land.', 'where', 'live?', 'in', 'live', 'survive', 'dog', 'water.'}

In [61]:
# corpus size
n = len(corpus)
n

11

In [62]:
# Binary vector of word appearance in a sentence
def vect(sent):
    # create new dict and place zeros in it
    mydict = dict.fromkeys(corpus, 0) 
    
    # code each word's appearance in the sentence with 1
    for word in sent:
        mydict[word] = 1
    return mydict

In [63]:
# binarise sentence 1
dict1 = vect(sent1)
dict1

{'on': 0,
 'fish': 1,
 'does': 1,
 'land.': 0,
 'where': 1,
 'live?': 1,
 'in': 0,
 'live': 0,
 'survive': 0,
 'dog': 0,
 'water.': 0}

In [64]:
dict2 = vect(sent2)
dict2

{'on': 0,
 'fish': 0,
 'does': 1,
 'land.': 0,
 'where': 1,
 'live?': 0,
 'in': 0,
 'live': 1,
 'survive': 0,
 'dog': 1,
 'water.': 0}

In [65]:
dict3 = vect(sent3)
dict3

{'on': 0,
 'fish': 1,
 'does': 0,
 'land.': 0,
 'where': 0,
 'live?': 0,
 'in': 1,
 'live': 0,
 'survive': 1,
 'dog': 0,
 'water.': 1}

In [66]:
dict4 = vect(sent4)
dict4

{'on': 1,
 'fish': 0,
 'does': 0,
 'land.': 1,
 'where': 0,
 'live?': 0,
 'in': 0,
 'live': 0,
 'survive': 1,
 'dog': 1,
 'water.': 0}

In [67]:
# Store the data into DataFrame
df = pd.DataFrame([dict1, dict2, dict3, dict4])
df

   on  fish  does  land.  where  live?  in  live  survive  dog  water.
0   0     1     1      0      1      1   0     0        0    0       0
1   0     0     1      0      1      0   0     1        0    1       0
2   0     1     0      0      0      0   1     0        1    0       1
3   1     0     0      1      0      0   0     0        1    1       0

In [68]:
ar = df.to_numpy()

In [69]:
ar

array([[0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1],
       [1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0]], dtype=int64)

In [76]:

# Test the similarity
# Q [0] = "where does fish live?"
# Q [1] = "where does dog live"
# A [2] = "fish survive in water."
# A [3] = "dog survive on land."
cosim(ar[0], ar[2])

Cosine similarity:  0.25

0.25